extends layoutall

block content
  div.container(style="padding-left: 0px;padding-right: 0px;")
    div(class="me-md-3 pt-3 px-3 pt-md-5 text-white overflow-hidden",style='background-image: url("/images/bg-01.png");')
      div(class="my-2 py-2",style="margin-bottom: 3.5rem!important;")
        h2(class="fw-bold text-center",style="color: black;font-size: 36px;") Asia Eastern University of Science and Technology
        p(class="fw-bold text-center",style="color: black;font-size: 24px;") applying to AEUST
        div(class="shadow-sm mx-auto",style="border-radius: 15px 15px 15px 15px;padding: 1rem 1rem 1rem 1rem;background-color: #4FC3F7;")
          form(class="needs-validation",id="formdata",name="formdata",method="post",action='/',novalidate)
            div(class='row mb-3')
              label(for="school",class="col-sm-2 col-form-label col-form-label-lg") 學校 School*
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",list="datalistOptions",id="school",name="school",placeholder="Input School",maxlength='20',required)
            div(class='row mb-3',style='display: none;')
              label(for="dept",class="col-sm-2 col-form-label col-form-label-lg") 科別*
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",id="dept",name="dept",placeholder="目前就讀的科別(必填)",maxlength='20',value='海外學系')
            div(class='row mb-3')
              label(for="stdname",class="col-sm-2 col-form-label col-form-label-lg") 您的姓名 Name*
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",id="stdname",name="stdname",placeholder="First name, Last name",maxlength='30',required)
            div(class='row mb-3')
              label(for="phone",class="col-sm-2 col-form-label col-form-label-lg") 連絡電話 Phone*
              div(class="col-sm-10")
                input(type="tel",class="form-control form-control-lg",id="phone",name="phone",placeholder="Phone number",maxlength='20',onkeypress="PhoneStyle(this);",required)
                label Format：(+886) 2-7738-8000 
            div(class='row mb-3')
              label(for="birthday",class="col-sm-2 col-form-label col-form-label-lg") 您的生日 Birthday*
              div(class="col-sm-2")
                select(class="form-select form-select-lg",id="birthYear",name="birthYear",placeholder="Birthday",required)
                  - let x = ((new Date).getFullYear() - 10);
                    while x >= ((new Date).getFullYear() - 60)
                      option(value=x ) #{x}
                      - x--  
              label(for="birthday",class="col-sm-1 col-form-label col-form-label-lg") Year
              div(class="col-sm-2")
                select(class="form-select form-select-lg",id="birthMonth",name="birthMonth",placeholder="Year",required)
                  - let y = 1;
                    while y <= 12
                      option(value=y ) #{y}
                      - y++                
              label(for="birthday",class="col-sm-1 col-form-label col-form-label-lg") Month
              div(class="col-sm-2")
                select(class="form-select form-select-lg",id="birthday",name="birthday",placeholder="Month",required)
                  - let z = 1;
                    while z <= 31
                      option(value=z) #{z}
                      - z++
              label(for="birthday",class="col-sm-1 col-form-label col-form-label-lg") Day
            div(class='row mb-3')
              label(for="email",class="col-sm-2 col-form-label col-form-label-lg") 電子信箱 Email*
              div(class="col-sm-10")
                input(type="email",class="form-control form-control-lg",id="email",name="email",placeholder="E-mail",maxlength='50',required)
            div(class='row mb-3')
              label(for="lineid",class="col-sm-2 col-form-label col-form-label-lg") Contact App (optional)
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",id="lineid",name="lineid",placeholder="LINE ID or whatapp ID ",maxlength='50')
            div(class='row mb-3' style='display:none;')
              label(for="entertype",class="col-sm-2 col-form-label col-form-label-lg") 欲就讀系所*
              div(class="col-sm-10")
                select(class="form-select form-select-lg",id="entertype",name="entertype")
                  option(value="1GO",selected) 海外學生
            div(class='row mb-3' style="display: none;")
              label(class="col-sm-2 col-form-label col-form-label-lg") 欲就讀本校之原因*(可複選)
              div(class="col-sm-10")
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox1",name="reason" ,value="交通便利")
                  label(class="form-check-label" ,for="inlineCheckbox1") (1)	交通便利
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox2",name="reason" ,value="優渥獎學金")
                  label(class="form-check-label" ,for="inlineCheckbox2") (2)	優渥獎學金
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox3",name="reason" ,value="社團活躍")
                  label(class="form-check-label" ,for="inlineCheckbox3") (3)	社團活躍
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox4",name="reason" ,value="提供宿舍")
                  label(class="form-check-label" ,for="inlineCheckbox4") (4)	提供宿舍
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox5",name="reason" ,value="廠商實習")
                  label(class="form-check-label" ,for="inlineCheckbox5") (5)	廠商實習
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox6",name="reason" ,value="高中職老師推薦")
                  label(class="form-check-label" ,for="inlineCheckbox6") (6)	高中職老師推薦
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox7",name="reason" ,value="親朋好友推薦")
                  label(class="form-check-label" ,for="inlineCheckbox7") (7)	親朋好友推薦
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox8",name="reason" ,value="學校知名度高")
                  label(class="form-check-label" ,for="inlineCheckbox8") (8)	學校知名度高
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox9",name="reason" ,value="學校校風好")
                  label(class="form-check-label" ,for="inlineCheckbox9") (9)	學校校風好
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox10",name="reason" ,value="教學設備新穎")
                  label(class="form-check-label" ,for="inlineCheckbox10") (10)	教學設備新穎
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox11",name="reason" ,value="遠東集團關係企業")
                  label(class="form-check-label" ,for="inlineCheckbox11") (11)	遠東集團關係企業
                br
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="checkbox" ,id="inlineCheckbox12",name="reason" ,value="其他",checked)
                  label(class="form-check-label" ,for="inlineCheckbox12") (12)	其他(勾選需要填寫原因)
              div(class='row mb-3',id="ext_reasonview")
                label(for="other",class="col-sm-2 col-form-label col-form-label-lg") 勾選其他請填寫原因(限100字)
                div(class="col-sm-10")
                  textarea(class="form-control form-control-lg",id="other",name="ext_reason",placeholder="選其他請填寫原因",row="2",maxlength='100')
            div(class='row mb-3',id="ext_reasonview")
              label(for="es_memo",class="col-sm-2 col-form-label col-form-label-lg") 留言(選填) Message (optional)
              div(class="col-sm-10")
                textarea(class="form-control form-control-lg",id="es_memo",name="es_memo",placeholder="Message",row="2",maxlength='100')
            div(class='row')
              div(class="d-flex justify-content-center")
                button(type="reset",class="btn btn-warning",style="margin-right:1rem;") reset
                button(type="submit",class="btn btn-primary",id="sentForm") submit
            div(class="row mt-3")
              div.col-12
                p(style="color: black;display: none;") 注意：您所提供之個人資料僅作本校招生及相關統計分析使用，其餘均依照「個人資料保護法」相關規定辦理。
  script.
    document.getElementsByName("reason")[document.getElementsByName("reason").length-1].addEventListener('change',(e) => {
      if(e.target.checked) {
        document.getElementById("ext_reasonview").style.display = ""
      } else {
        document.getElementById("ext_reasonview").style.display = "none"
      }
    })

    let PhoneStyle = function(e) {
      if(e.value.length == 4) {
        e.value = e.value + '-'
      }
    }

    let forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms).forEach(function (form) {

        let submit_data = function() {
          axios({
            method: "post",
            url: "/",
            data: new FormData(form)
          })
          .then(function (response) {
            if(response.data.result == 1) {
              swal({title: 'submit，link aeust。',icon: "success",button: "Yes"}).then(() => {
                location.href = 'https://recruit.aeust.edu.tw';
              })                   
            } else {
              swal({title: 'data submit error！',icon: "warning",button: "Yes"})
            }
          })
          .catch(function (error) {
            swal({title: 'web error！',icon: "warning",button: "Yes"})
            console.log(error);
          });
        }

        form.addEventListener('submit', function (event) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add('was-validated')

          document.querySelectorAll('.form-check-input').forEach((el) => { 
            el.style = "border-color:#FFFFFF"
            el.nextElementSibling.style = "color:#FFFFFF"
          })

          if(document.getElementById('school').value.length < 4) {
            document.getElementById('school').setCustomValidity('字數太少')
            swal({title: 'input School',icon: "warning",button: "Yes"})
            return ;
          } else {
            document.getElementById('school').setCustomValidity('')
          }

          if (form.checkValidity()) {
              let chkBoxSelect = false;
              document.querySelectorAll('.form-check-input').forEach((el) => { 
                if(el.checked) {
                  chkBoxSelect = true;
                }
              })

              if(chkBoxSelect) {
                axios({
                  method: "post",
                  url: "/getCheckUser",
                  data: new FormData(form)
                })
                .then(function (response) {
                  if(response.data.result == 1) {
                    if(response.data.data[0][0].row_count == 1) {
                      swal({
                        title: "Duplicate report",
                        text: "not is Duplicate report",
                        icon: "warning",
                        buttons: {
                          cancel: "cancel",
                          catch: {
                            text: "submit",
                            value: true,
                          }
                        },
                      })
                      .then((isValue) => {
                        if(isValue) {
                          submit_data();
                        }
                      });
                    } else {
                      submit_data();
                    }                                
                  } else {
                    swal({title: 'Data Submit fail！',icon: "warning",button: "確定"})
                  }
                })
                .catch(function (error) {
                  swal({title: 'Webside error！',icon: "warning",button: "確定"})
                  console.log(error);
                });
              } else {
                swal({title: '欲就讀本校之原因請至少選一個。',icon: "warning",button: "確定"})
              } 
          }
        }, false)
      })
    