extends layout

block content
  div.container(style="padding-left: 0px;padding-right: 0px;")
    div(class="me-md-3 pt-3 px-3 pt-md-5 text-white overflow-hidden",style='background-image: url("/images/bg-01.png");')
      div(class="my-2 py-2",style="margin-bottom: 3.5rem!important;")
        h2(class="fw-bold text-center",style="color: black;font-size: 36px;") 亞東科技大學
        p(class="fw-bold text-center",style="color: black;font-size: 24px;") 就讀意願調查
        div(class="shadow-sm mx-auto",style="border-radius: 15px 15px 15px 15px;padding: 1rem 1rem 1rem 1rem;background-color: #4FC3F7;")
          form(class="needs-validation",id="formdata",name="formdata",method="post",action='/',novalidate)
            div(class='row mb-3')
              label(for="school",class="col-sm-2 col-form-label col-form-label-lg") 學校*
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",list="datalistOptions",id="school",name="school",placeholder="請輸入後點選就讀的高中職(必填)",maxlength='20',required)
                datalist(id="datalistOptions")
                  each item in list
                    option(value=item.學校名稱 ) #{item.學校名稱}
                label 輸入部分文字點選相對應學校名稱
            div(class='row mb-3')
              label(for="dept",class="col-sm-2 col-form-label col-form-label-lg") 科別*
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",id="dept",name="dept",placeholder="目前就讀的科別(必填)",maxlength='20',required)
            div(class='row mb-3')
              label(for="stdtype",class="col-sm-2 col-form-label col-form-label-lg") 身分別*     
              div(class="col-sm-4 mb-3") 
                select(class="form-select form-select-lg",id="stdtype",name="stdtype",placeholder="身分別",required)
                  option(selected,disabled,value="" ) --請選擇身分別--
                  option(value="高中生" ) 高中生
                  option(value="四技生" ) 四技生
                  option(value="二技生" ) 二技生
                  option(value="轉學生" ) 轉學生
                  option(value="其他" ) 其他
              div(class="col-sm-6") 
                input(class="form-control form-control-lg w-100" tpye="text" id ="ext_stdtype" name="ext_stdtype" placeholder="身分別選其他 請填寫(必填)" style="display: none;")
            div(class='row mb-3')
              label(for="stdname",class="col-sm-2 col-form-label col-form-label-lg") 您的姓名*
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",id="stdname",name="stdname",placeholder="請輸入您的姓名(必填)",maxlength='30',required)
            div(class='row mb-3')
              label(for="phone",class="col-sm-2 col-form-label col-form-label-lg") 連絡電話*
              div(class="col-sm-10")
                input(type="tel",class="form-control form-control-lg",id="phone",name="phone",placeholder="請輸入連絡電話(必填)",maxlength='20',onkeypress="PhoneStyle(this);",required)
                label 格式範例：0910-123456
            div(class='row mb-3')
              label(for="birthday",class="col-sm-2 col-form-label col-form-label-lg") 您的生日*
              div(class="col-sm-2")
                select(class="form-select form-select-lg",id="birthYear",name="birthYear",placeholder="請輸入您的出生年(必填)",required)
                  - let x = ((new Date).getFullYear() - 15);
                    option(selected,disabled,value="") --請選擇---
                    while x >= ((new Date).getFullYear() - 60)
                      option(value=x ) #{x}
                      - x--  
              label(for="birthday",class="col-sm-1 col-form-label col-form-label-lg") 年*
              div(class="col-sm-2")
                select(class="form-select form-select-lg",id="birthMonth",name="birthMonth",placeholder="請輸入您的出生月份(必填)",required)
                  - let y = 1;
                    option(selected,disabled,value="") --請選擇---
                    while y <= 12
                      option(value=y ) #{y}
                      - y++                
              label(for="birthday",class="col-sm-1 col-form-label col-form-label-lg") 月*
              div(class="col-sm-2")
                select(class="form-select form-select-lg",id="birthday",name="birthday",placeholder="請輸入您的出生日(必填)",required)
                  - let z = 1;
                    option(selected,disabled,value="") --請選擇---
                    while z <= 31
                      option(value=z) #{z}
                      - z++
              label(for="birthday",class="col-sm-1 col-form-label col-form-label-lg") 日*
            div(class='row mb-3')
              label(for="email",class="col-sm-2 col-form-label col-form-label-lg") 電子信箱
              div(class="col-sm-10")
                input(type="email",class="form-control form-control-lg",id="email",name="email",placeholder="請輸入電子信箱",maxlength='50')
            div(class='row mb-3')
              label(for="lineid",class="col-sm-2 col-form-label col-form-label-lg") LINE ID
              div(class="col-sm-10")
                input(type="text",class="form-control form-control-lg",id="lineid",name="lineid",placeholder="請輸入LINEID",maxlength='50')
            div(class='row mb-3')
              label(for="entertype",class="col-sm-2 col-form-label col-form-label-lg") 欲就讀系所*
              div(class="col-sm-5 mb-3")
                select(class="form-select form-select-lg",id="entertype1",name="entertype1",required)
                  option(selected,disabled,value="" ) --請選擇第一志願系所--
                  each dept in deptlist
                    option(value=dept.val ) #{dept.name}
              div(class="col-sm-5")
                select(class="form-select form-select-lg",id="entertype2",name="entertype2",required)
                  option(selected,disabled,value="" ) --請選擇第二志願系所--
                  each dept in deptlist
                    option(value=dept.val ) #{dept.name}
            div(class='row mb-3')
              label(class="col-sm-2 col-form-label col-form-label-lg") 如何了解本校資訊*
              div(class="col-sm-10")
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="radio" ,id="inlineCheckbox1",name="reason" ,value="入班宣導")
                  label(class="form-check-label" ,for="inlineCheckbox1") 入班宣導
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="radio" ,id="inlineCheckbox2",name="reason" ,value="升學博覽會")
                  label(class="form-check-label" ,for="inlineCheckbox2") 升學博覽會
                div(class="form-check form-check-inline form-control-lg")
                  input(class="form-check-input" ,type="radio" ,id="inlineCheckbox3",name="reason" ,value="來校參訪")
                  label(class="form-check-label" ,for="inlineCheckbox3") 來校參訪
                br
                div(class="form-check form-check-inline form-control-lg w-100")
                  input(class="form-check-input" ,type="radio" ,id="inlineCheckbox4",name="reason" ,value="其他")
                  label(class="form-check-label" ,for="inlineCheckbox4") 其他(勾選其他需要填寫原因)
                  input(class="form-control form-control-lg w-100" tpye="text" id ="ext_reasonview" name="ext_reason" style="display: none;")
            div(class='row mb-3')
              label(for="es_memo",class="col-sm-2 col-form-label col-form-label-lg") 留言(選填)
              div(class="col-sm-10")
                textarea(class="form-control form-control-lg",id="es_memo",name="es_memo",placeholder="請輸入您想詢問的問題",row="2",maxlength='100')
            div(class='row')
              div(class="d-flex justify-content-center")
                button(type="reset",class="btn btn-warning",style="margin-right:1rem;") 重新填寫
                button(type="submit",class="btn btn-primary",id="sentForm") 確認送出
            div(class="row mt-3")
              div.col-12
                p(style="color: black;") 注意：您所提供之個人資料僅作本校招生及相關統計分析使用，其餘均依照「個人資料保護法」相關規定辦理。
  script.
    Array.from(document.querySelectorAll('input[name=reason]')).forEach(element => {
      element.addEventListener('change', (event) => {
        if(event.target.id === 'inlineCheckbox4') {
          document.getElementById("ext_reasonview").style.display = ""
        } else {
          document.getElementById("ext_reasonview").style.display = "none"
        }
      })
    })

    document.querySelectorAll('select[name=stdtype]').forEach(element => {
      element.addEventListener('change', (event) => {
        if(event.target.value === '其他') {
          document.getElementById("ext_stdtype").style.display = ""
        } else {
          document.getElementById("ext_stdtype").style.display = "none"
        }
      })
    })

    let PhoneStyle = function(e) {
      if(e.value.length == 4) {
        e.value = e.value + '-'
      }
    }

    let forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms).forEach(function (form) {
        let submit_data = function() {
          axios({
            method: "post",
            url: "/",
            data: new FormData(form)
          })
          .then(function (response) {
            if(response.data.result == 1) {
              swal({title: '資料已送出，將為您轉至首頁。',icon: "success",button: "確定"}).then(() => {
                location.href = 'https://recruit.aeust.edu.tw';
              })                   
            } else {
              swal({title: response.data.errMsg ,icon: "warning",button: "確定"})
            }
          })
          .catch(function (error) {
            swal({title: '網站發生錯誤！',icon: "warning",button: "確定"})
          });
        }

        form.addEventListener('submit', function (event) {
          event.preventDefault();
          event.stopPropagation();
          form.classList.add('was-validated')

          document.querySelectorAll('.form-check-input').forEach((el) => { 
            el.style = "border-color:#FFFFFF"
            el.nextElementSibling.style = "color:#FFFFFF"
          })

          if(document.getElementById('school').value.length < 4) {
            document.getElementById('school').setCustomValidity('字數太少')
            swal({title: '目前就讀學校輸入少於四個字，請輸入後用點選的方式，點選相對應學校。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('school').setCustomValidity('')
          }

          if(document.getElementById('dept').value.length <= 0) {
            document.getElementById('dept').setCustomValidity('字數太少')
            swal({title: '您目前的科系別尚未填寫。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('dept').setCustomValidity('')
          }

          if(document.getElementById('stdtype').value == "") {
            document.getElementById('stdtype').setCustomValidity('尚未選擇身分別。')
            swal({title: '請選擇您的身分別。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('stdtype').setCustomValidity('')
          }

          if(document.getElementById('stdname').value.length <= 0) {
            document.getElementById('stdname').setCustomValidity('字數太少')
            swal({title: '您的姓名尚未填寫。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('stdname').setCustomValidity('')
          }

          if(document.getElementById('phone').value.length <= 0) {
            document.getElementById('phone').setCustomValidity('字數太少')
            swal({title: '您的聯絡電話尚未填寫。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('phone').setCustomValidity('')
          }

          if(document.getElementById('birthYear').value == "") {
            document.getElementById('birthYear').setCustomValidity('尚未選擇出生西元年。')
            swal({title: '請選擇您的出生西元年。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('birthYear').setCustomValidity('')
          }

          if(document.getElementById('birthMonth').value == "") {
            document.getElementById('birthMonth').setCustomValidity('尚未選擇出生月份。')
            swal({title: '請選擇您的出生月份。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('birthMonth').setCustomValidity('')
          }

          if(document.getElementById('birthday').value == "") {
            document.getElementById('birthday').setCustomValidity('尚未選擇出生日。')
            swal({title: '請選擇您的出生日。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('birthday').setCustomValidity('')
          }

          if(document.getElementById('entertype1').value == "") {
            document.getElementById('entertype1').setCustomValidity('尚未選擇第一志願系所。')
            swal({title: '請選擇您的第一志願系所。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('entertype1').setCustomValidity('')
          }

          if(document.getElementById('entertype2').value == "") {
            document.getElementById('entertype2').setCustomValidity('尚未選擇第二志願系所。')
            swal({title: '請選擇您的第二志願系所。',icon: "warning",button: "確定"})
            return ;
          } else {
            document.getElementById('entertype2').setCustomValidity('')
          }

          let radio_check = true
          for(let j = 0 ; j < document.getElementsByName("reason").length; j++) {
            if(document.getElementsByName("reason")[j].checked) {
              radio_check = false
            }
          }

          if(radio_check) {
            swal({title: '請選擇從哪了解本校資訊。',icon: "warning",button: "確定"})
            return ;
          }

          if(document.getElementById("inlineCheckbox4").checked) {
            if(document.getElementById('ext_reasonview').value.length <= 0) {
              document.getElementById('ext_reasonview').setCustomValidity('字數太少')
              swal({title: '選擇其他需要填寫原因。',icon: "warning",button: "確定"})
              return ;
            } else {
              document.getElementById('ext_reasonview').setCustomValidity('')
            }
          } else {
            document.getElementById('ext_reasonview').setCustomValidity('')
          }

          if(form.checkValidity()){
            submit_data()
          } else {
            swal({title: '電子信箱格式有錯誤。',icon: "warning",button: "確定"})
          }
        }, false)
      })
    